$black: #2c2c54;
$light_black: #40407a;
$white: #f7f1e3;
$transparent_white: #f7f1e3aa;
$transparent_dark_white: #d1ccc0aa;
$dark_white: #d1ccc0;
$gray: #aaa69d;
$dark_gray: #84817a;
$orange: #ff793f;
$dark_orange: #cd6133;
$green: #33d9b2;
$dark_green: #218c74;
$red: #ff5252;
$dark_red: #b33939;
$yellow: #ffb142;
$dark_yellow: #cc8e35;
$blue: #34ace0;
$dark_blue: #227093;
$beige: #ffda79;
$dark_beige: #ccae62;
$purple: #706fd3;
$dark_purple: #474787;

$sidebar_wraped_width: calc(2rem + 32px);
$sidebar_width: 300px;

$page_width: calc(100vw - $sidebar_wraped_width);
